:root {
  --accent-color: #ED254E;
  --accent-color2: #FFDC5E;
  --background: #373F51;
  --font-color: #F4FAFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--font-color);
}
