.TodoCounter {
    font-size: 24px;
    text-align: center;
    background: var(--background);
    max-width: 360px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 7px 33px 6px rgba(0,0,0,0.41);
}

.TodoCounter span {
    color: var(--accent-color2);
}